body {
  background-color: hsl(243, 96%, 9%);
  max-width: 1440px;
  font-size: 18px;
  color: hsl(0, 0%, 100%);
}

.weekly {
  display: flex;
  gap: 10px;
  grid-area: 3/1/4/2;
  justify-content: space-between;
}

.weekly div {
  background-color: hsl(243, 23%, 24%);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

/* Today Styling*/

#today {
  background-color: hsl(233, 67%, 56%);
  border-radius: 10px;
  padding: 20px;
  height: auto;
  grid-area: 2/1/2/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-temp {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* The overall grid layout styling*/

.wrapper {
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  grid-template-rows: 1fr 1fr 1fr;

  height: 100vh;
  margin: 0;
  gap: 5px;
}

p {
  font-size: 14px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: 1/1/2/5;
  align-items: center;
  margin-bottom: 30px;
}

.hero form {
  display: flex;
  gap: 10px;
}

img {
  width: 40px;
  height: auto;
}

/*Toggle Hidden */

#today.hidden {
  display: none !important;
  border: 1px solid black;
}

/*Hourly Div Styling*/
.hourly {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: 2/2/4/3;
  align-items: center;
}

.hourDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

#location {
  color: hsl(248, 29%, 95%);
  width: 300px;
  font-weight: bold;
  background-color: hsl(243, 27%, 20%);
  font-size: 18px;
}

button {
  background-color: hsl(248, 70%, 36%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
}
